*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hide{
    display: none;
}
